---
export interface Props {
    title: string;
    subtitle?: string;
}
const { title, subtitle = "" } = Astro.props;
---

<div
    class="mb-8 flex flex-col md:flex-row md:items-center md:justify-between gap-4"
>
    <div>
        <h1
            class="text-xl font-normal tracking-tight text-primary-900 dark:text-primary-100 mb-2"
        >
            {title}
        </h1>
        {
            subtitle && (
                <p class="text-sm text-primary-500 dark:text-primary-400 italic">
                    {subtitle}
                </p>
            )
        }
    </div>
    <div class="flex justify-center md:justify-end self-center">
        <slot name="right" />
    </div>
</div>
